<%= form_for(:session, url: login_path) do |form| %>
    <% if flash[:errors] %>    
    <p class="alert alert-danger" role="alert"> <%= flash[:errors] %></p>   
    <%end%>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<p>New user? <%= link_to "Sign up now!", new_user_path %></p>
