<h1>Editing Disqux</h1>

<%= form_with(model: @disqux, url: project_disqux_path(@project, @disqux_id), local: true) do |form| %>
  <% if @disqux.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@disqux.errors.count, "error") %> prohibited this disqux from being saved:</h2>

      <ul>
        <% @disqux.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%= link_to 'Back', project_disquxes_path(@project) %>
